<a href="https://colab.research.google.com/github/mattpolands/Learning_Python/blob/main/PythonRe_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1*3

3

In [ ]:
2**4

16

In [ ]:
#Modulus - gives you the remainder
5 % 2

1

In [ ]:
#assigning variables
x=2
y=3

In [ ]:
#now see what happens
x*2

4

In [ ]:
x+y

5

In [ ]:
#can reassign x
x=x*x

In [ ]:
x

4

In [ ]:
x+y

7

In [ ]:
#proper format for naming variables
#can have any label creator sees fit but underscores should be added to connect multiple words
#example
name_of_variable = 12

In [ ]:
#calling variable
name_of_variable

12

In [ ]:
#strings are variables consisting of letters and words 
#denoted by single or double quotations 
#example 
variable = 'string'
#double quotes when there is need for apostrophe within string
#example 
variable_2 = "str'ng"

In [ ]:
#now calling a string
variable

'string'

In [ ]:
#however see how above brings the entire string, quotes included
#proper way to call a string
print(variable)

string

In [ ]:
#see how above output is the string without quotes included

In [ ]:
#potential uses/advantages using strings
#example
'Variable is {}, and Variable2 is {}'.format(variable, variable_2)

"Variable is string, and Variable2 is str'ng"

In [ ]:
#above adds variables in the order that they are given
print('Variable is {}, and Variable2 is {}'.format(variable, variable_2))

Variable is string, and Variable2 is str'ng

In [ ]:
#once again print function outputs string without quotes
#can optimize the .format order by creating a within function set of variables 
#this is beneficial when the statement needs multiples of the same variable 
#or the variables do not come in sequential order
#example
print('Variable2 is {two}, and Variable is {one}.'.format(one=variable,two=variable_2))

Variable2 is str'ng, and Variable is string.

In [ ]:
from shutil import get_unpack_formats
#a string is just a series of elements
#'goat' is four elements 
#g is 0, o is 1, a is 2, t is 3
#indexes in Python start sequentially at 0
#example of how to use this 
s = 'goat'

In [ ]:
s[1]

'o'

In [ ]:
#the colon allows us to grab sets of elements from a string
#this is called slice notation
#example
s[1:]

'oat'

In [ ]:
#s[1:] basically says grab element 1 and then everything beyond element 1
#can change the direction of the grab request
s[:2]

'go'

In [ ]:
#key factor from above is that the colon before pulls everything before the selected element
#above says grab everything prior to element 2, so the return is element 0 and 1
#where as the colon after example grabs the element selected (in this case 1) and everything after

In [ ]:
#the colon can also be used to be more selective
#example
s[1:3]

'oa'

In [ ]:
#a list is a series of elements within square brackets separated by commas
#simple example
list = [1,2,3]

In [ ]:
#can then index the created list
list[1]

2

In [ ]:
#can create lists with strings
#simple example
list2 = ['abc', 'def', 'ghi']
list2[2]

'ghi'

In [ ]:
#can add components to a created list by using append
#example 
list2.append('jkl')

In [ ]:
print(list2)

['abc', 'def', 'ghi', 'jkl']

In [ ]:
#just like a number list can pull certain elements from a string list 
#example
list2[1:3]

['def', 'ghi']

In [ ]:
#can also place new elements in specific locations in the list
#example
list2[1] = 'mno'

In [ ]:
list2

['abc', 'mno', 'ghi', 'jkl']

In [ ]:
#important to remember this technique does not add but instead replaces

In [ ]:
#nests are lists within lists
#example
nest = [1,2,[3,4]]

In [ ]:
#can also index this
nest[2]

[3, 4]

In [ ]:
#so above element 0 is 1, element 1 is 2, and element 2 is 3 and 4
#example on how to pull from second list
nest[2][1]

4

In [ ]:
#above grabs element 2 which is 3 and 4 then grabs element 1 within that list

In [ ]:
#dictionaries hold elements in conjunction with keys
dict = {'key':'value', 'key1':'value1'}

In [ ]:
dict['key']

'value'

In [ ]:
#can place lists attached to a key within a dictionary
dict2 = {'k':[1,2,3], 'k1':[4,5,6]}

In [ ]:
dict2['k1']

[4, 5, 6]

In [ ]:
dict2['k1'][2]

6

In [ ]:
#can have a dictionary within a dictionary
dict3 = {'outerkey':{'innerkey':['a1','b2','c3']}}

In [ ]:
#pulling 'b2', have to index through outerkey then innerkey then elments within the innerkey list
dict3['outerkey']['innerkey'][1]

'b2'

In [ ]:
#tuples are very similar to lists
#they are denoted with regular () while list is with square []
#main difference between the two are that lists are mutable and tuples are immutable
#example, with a list I can change elements ex list = [1,2,3], I decide that I want to change element 1 
#I can go list[1] = 1.5, I then run and I will get [1,1.5,3]
#If I was to try this with a tuple then Python will return an error

In [ ]:
#a set is similar to a dictionary but without the key
#also more importantly only defines unique values
#what this means example
{1,2,3}

{1, 2, 3}

In [ ]:
{1,1,1,2,2,2,2,2,2,3,3,3,3}

{1, 2, 3}

In [ ]:
#sets will not return repeats
#sets will only return unique values

In [ ]:
#there is also a set function
#what this means is that within Python there is a built-in function called set()
#set() can be useful in pulling unique values from say a list
#example
s2 = set([1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4])

In [ ]:
#can add to this set of unique values
s2.add(6)

In [ ]:
s2

{1, 2, 3, 4, 6}

In [ ]:
#booleans also naturally exist within Python
1<2

True

In [ ]:
1>2

False

In [ ]:
1<=1

True

In [ ]:
#be aware can't do 1=1 because Python sees that as a naming conflict
#to do that equation do this
1==1

True

In [ ]:
#not equal to is defined with an !
1 !=1

False

In [ ]:
1!=2

True

In [ ]:
#can also use conjunctions with this boolean format
(2<3) and (3<4)

True

In [ ]:
#this is the framework to if/then statements
if 1<2:
  print('yep!')

yep!

In [ ]:
#above is basically saying if "if statement" is true than perform a piece of code
#if 1<2 then print yep
#another example
if True:
  x =2+4
  print(x)

6

In [ ]:
#above "if True" is simply a statment or fact there is nothing to determine that it is false
#so Python knows to move to the next step and perform the directed piece of code
#in this example that is to define x = 2+4 (this step simply saves or takes stock of this line of code)
#in order to generate an output we put print(x)

In [ ]:
if 1==2:
  print('heyo')

In [ ]:
#above gives no output because it is False
#since if 1==2 is false, Python does not perform the next line of code

In [ ]:
if 1==2:
  print('heyo')
else:
  print('ahoi hoi')

ahoi hoi

In [ ]:
#above sees the first line is false
#so it doesn't perform the second line
#sees that their is additional code so moves to third step
#since first line is false this line is true
#so it performs the fourth line of code

In [ ]:
#can add in unlimited amount of conditions
#by using the elif statement
#standing for else if 
#example
if 1==2:
  print(heyo)
elif 3==3:
  print('hey now')
else:
  print('ahoi hoi')

hey now

In [ ]:
#what happens above
#starts at the first line and continues to chug along until it finds a true statement and then Python executes
#once Python executes it stops processing
#if elif was 3==4 then Python would have moved to the next line and executed else which is true in that it is just a statement

In [ ]:
#for loops allow you to iterate through a sequence
seq = [1,2,3,4,5]
for item in seq:
  print(item)

1
2
3
4
5

In [ ]:
#above for loop essentially re-runs the line of code until it has gone through all of the items of the sequence
#so above it grabs 0 element which in this case is 1 and completes the function which in this case is print
#once finished it moves on to the second item (ie. element) which in this case is 2 and prints that
#runs every element through the same function until Python has completed the sequence

In [ ]:
#key point to remember is that the word item is just a placeholder for the element in the sequence
#we used the word "item" above but could have just as easily said "poop"
for poop in seq:
  print(poop)

1
2
3
4
5

In [ ]:
#poop simply denotes an element
#you can use most words as a placeholder
#makes sense to use a placeholder that is intuitively connected

In [ ]:
#another trixsy aspect of the for loop
for poop in seq:
  print('penguin')

penguin
penguin
penguin
penguin
penguin

In [ ]:
#above is basically saying for every element print the word 'penguin'
#there are five elements so Python runs the function five time and in turn prints 'penguin' five times

In [ ]:
#while loops will continue to run the function until all conditions are met
#be aware this can lead to an infinite loop 
hats = 3
while hats <= 12:
  print('Hat goal is 12, current hat #{}.'.format(hats))
  hats = hats + 3

Hat goal is 12, current hat #3.
Hat goal is 12, current hat #6.
Hat goal is 12, current hat #9.
Hat goal is 12, current hat #12.

In [ ]:
#above continues to run until the condition that the variable hats =12 is met
#hats starts at 3 which is less than 12 so it prints the string
#curly brackets and .format are in there to make the print statement dynamic
#after printing it changes the condition of hats, in this case adding 3 hats to the original number of hats
#this changes the stored value of hats from the original 3 to now 6
#since hats is still less than 12 the loop restarts 
#the same process happens again
#this continues until hats is equal to or less than 12

In [ ]:
#range function
range(0,5)

range(0, 5)

In [ ]:
for poop in range(0,5):
  print(poop)

0
1
2
3
4

In [ ]:
for poop in range(0,3):
  print(poop)

0
1
2

In [ ]:
#the above range function is just a generator
#can turn it into a list as such
list(range(0,3))

[0, 1, 2]

In [ ]:
#list comprehension is kind of like a for loop but backwards
#here is what we are going to reverse engineer
x = [1,2,3,4]

out = [ ]
for num in x:
  out.append(num**2)

In [ ]:
print(out)

[1, 4, 9, 16]

In [ ]:
#list comprehension
out = [num**2 for num in x]

In [ ]:
out

[1, 4, 9, 16]

In [ ]:
#creating functions
#use the marker def, this allows you to define a function
def my_func(param1):
  print(param1)

In [ ]:
#now we can use this very simple function
my_func('the cats meow')

the cats meow

In [ ]:
#my_func represents the entire function above
#param1 just a placeholder for whatever we want to put into our function

In [ ]:
#another example
#new function
def my_func(name):
  print('Heyo '+name)

In [ ]:
my_func('Baboushka')

Heyo Baboushka

In [ ]:
#can also place a default answer into the parameter
def my_func(name='Mama'):
  print('Heyo '+name)

In [ ]:
my_func()

Heyo Mama

In [ ]:
#since no name was placed 'Mama' came out
#the function is dynamic so you can place a chosen name in there
my_func('Potato')

Heyo Potato

In [ ]:
my_func

In [ ]:
#above without parentheses, this shows you how Python sees your function

In [ ]:
#returing over printing
def square(num):
  return num**2

In [ ]:
output = square(14)

In [ ]:
output

196

In [ ]:
#return is nice because it lets you return a value so that you can set it to another variable

In [ ]:
#creating a docstring
def square(num):
  """
  This a function that allows one to square a value
  """
  return num**2

In [ ]:
#to see this docstring
#after typing the fucntion so in this case 'square', hit shift+tab
#this works for Jupyter notebooks

In [ ]:
def times2(var):
  return var*2

In [ ]:
times2(9)

18

In [ ]:
#useful built-in function is the map function
#creates a for loop function for you
seq = [1,3,5,7,9]

In [ ]:
map(times2,seq)

In [ ]:
#above is basically saying that Python has mapped this function to its storage
#to return it 
list(map(times2,seq))

[2, 6, 10, 14, 18]

In [ ]:
#can write the above function this way as well
def times2(var):return var*2

In [ ]:
times2(2)

4

In [ ]:
#lambda functions allow us to do this even easier
quick_func = lambda var:var*2

In [ ]:
quick_func

In [ ]:
quick_func(8)

16

In [ ]:
#where this becomes more useful
#when you don't want to define a function prior to using the map function
list(map(lambda num: num**3,seq))

[1, 27, 125, 343, 729]

In [ ]:
#above we wrote an entire function in one line of code
#list allows us to call it
#map is built-in function that stores our request and also iterates our desired function
#lambda allows us to write a quick easy function in one line of code
#num is simply our placeholder
#num**3 is the meat and bones of our function
#seq is our pre-made list

In [ ]:
#filter function
#filters out 
list(filter(lambda num: num%2==0, seq))

[]

In [ ]:
#list calls the function
#filter is a built-in function that filters out all outputs that do not meet the conditions of the function
#lambda our short-hand function
#num is our placeholder
#num%2==0 is our function, we are asking to make a new set of outputs from our list where the outputs can be evenly divided by 2
#[] our output is nada because every number in our list is odd

In [ ]:
#a whole series of built-in methods
#methods are special tricks done to our string or object when called
#example 
s = 'My name is MATT'

In [ ]:
s.lower()

'my name is matt'

In [ ]:
#the above method turns all letters to lowercase
#the reverse
s.upper()

'MY NAME IS MATT'

In [ ]:
s.split()

['My', 'name', 'is', 'MATT']

In [ ]:
#above splits everything at the white space

In [ ]:
#can split at designated spots 
s2 = '#holycow!'
s2.split('#')

['', 'holycow!']

In [ ]:
#can also use methods on dictionaries
d = {'k1':'Popo', 'k2':'Gigio'}

In [ ]:
d.keys()

dict_keys(['k1', 'k2'])

In [ ]:
d.items()

dict_items([('k1', 'Popo'), ('k2', 'Gigio')])

In [ ]:
#in operator
#allows you to see if a certain thing is in the list
'x' in [1,2,3]

False

In [ ]:
#tuple unpacking
x = [(1,2),(3,4),(5,6)]

In [ ]:
x[2][1]

6

In [ ]:
for item in x:
  print(item)

(1, 2)
(3, 4)
(5, 6)

In [ ]:
for (a,b) in x:
  print(a)

1
3
5

In [ ]:
for (a,b) in x:
  print(b)

2
4
6

In [ ]:
#parentheses not needed
for a,b in x:
  print(a)

1
3
5